<div class="container">
  <h4 class="title">INSURANCE ROOT</h4>
  <router-outlet></router-outlet>
  <section>
    <button (click)="navigateTo([''])">To Main</button>
    <button (click)="navigateTo(['first'])">To First</button>
    <button (click)="navigateTo(['second'])">To Second</button>
  </section>
</div>

